// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #063852;//006847 verde / Bluberry
$secondary : #1d656d;//FFFFFF Blanco / Peacock
$accent    : #004445;//CE1126 Rojo /Cadet blue
$dark      : #2c7873; //rain

$positive  : #f1f3ce; //Ivory
$negative  : #011a27; // Navy
$info      : #f0810f; //Tangerine
$warning   : #f62a00; // Candy apple 
